#include ~/fpc.cfg
#include ~/lazarus.cfg
#include ~/utils.cfg
# options:
-Scih
-XX
-Xs
-O2
#ifdef windows
-WG
#endif

# Output:
-FE.
-FU./lib/$fpctarget

# Units:
-Fu.
-Fu./dataform
-Fu./settings
-Fu./search

# Includes
-Fi./include/$fpcos

# Libraries
-Fu~/EpiData/Core/branches/fixes_1_1/lib/$fpctarget
